/*全部商品*/

.category-bg-color {
    background-color: rgba(0, 0, 0, 0.6);
}

.category-container {
    position: relative;
}

.category-container>ul {
    height: 420px;
    padding: 20px 0;
    border: 0;
    color: #fff;
}

.category-container .category-menu:hover {
    background-color: #ff6700;
}

.category-menu .menu-link {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}

.menu-link {
    color: #fff;
}

.goods-container {
    position: absolute;
    top: 0;
    left: 100%;
    height: 460px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.column-1 {
    width: 265px;
}

.column-2 {
    width: 530px;
}

.column-2 .goods-item-container {
    width: 265px;
}

.column-3 {
    width: 795px;
}

.column-3 .goods-item-container {
    width: 265px;
}

.column-4 {
    width: 992px;
}

.column-4 .goods-item-container {
    width: 248px;
}

.goods-item-container {
    float: left;
    width: 265px;
}

.goods-list>li {
    width: 265px;
    height: 76px;
}

.goods-link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
}

.goods-link img {
    vertical-align: middle;
}

.goods-list .goods-thumbnall {
    width: 40px;
    height: 40px;
}

.star-goods .goods-link {
    width: 170px;
    padding-right: 0;
    display: inline-block;
}

.star-goods .btn-buy {
    width: 58px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    text-align: center;
    cursor: pointer;
}